<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>images</param-name>
        <param-value>images</param-value>
    </context-param>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>controller.ControllerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/category</url-pattern>
        <url-pattern>/addToCart</url-pattern>
        <url-pattern>/viewCart</url-pattern>
        <url-pattern>/updateCart</url-pattern>
        <url-pattern>/cleanCart</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>productosImagePath</param-name>
        <param-value>images/productos</param-value>
    </context-param>
     <context-param>
        <param-name>gastos</param-name>
        <param-value>6</param-value>
    </context-param>
    <context-param>
        <param-name>categoriasImagenesPath</param-name>
        <param-value>images/categorias</param-value>
    </context-param>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/category.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/checkout.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/confirmation.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/cart.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jsp</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
